  <footer class="bg-white p-4 text-muted" id="index-footer">
    <div class="container">
      <!-- actions -->
      <div class="d-flex flex-wrap">
        <p class="mx-2 fs-7 mb-0" >Developed by:</p>
        <a class="mx-2 fs-7 mb-0" href="https://github.com/gr4ham18" target="_blank">Gabriel Graham</a>
        <a class="mx-2 fs-7 mb-0" href="https://github.com/cboensch6505" target="_blank">Corey Boensch</a>
        <a class="mx-2 fs-7 mb-0" href="https://github.com/erinknapp"  target="_blank">Erin Knapp</a>
        <a class="mx-2 fs-7 mb-0" href="https://github.com/pmacdonald15" target="_blank">Phillip MacDonald</a>
        <a class="mx-2 fs-7 mb-0" href="https://github.com/Spooncodes" target="_blank">Anthony Lively</a>
      </div>
      <!-- copy -->
      <div class="mt-4 mx-2">
        <p class="fs-7">Words are hard. &copy; 2022</p>
      </div>
    </div>
  </footer>