<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just Tech News</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Just Tech News</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

<footer class="bg-white p-4 text-muted" id="index-footer">
  <div class="container">
    <!-- actions -->
    <div class="d-flex flex-wrap">
      <p class="mx-2 fs-7 mb-0" >Developed by:</p>
      <a class="mx-2 fs-7 mb-0" href="https://github.com/gr4ham18" target="_blank">Gabriel Graham</a>
      <a class="mx-2 fs-7 mb-0" href="https://github.com/cboensch6505" target="_blank">Corey Boensch</a>
      <a class="mx-2 fs-7 mb-0" href="https://github.com/erinknapp"  target="_blank">Erin Knapp</a>
      <a class="mx-2 fs-7 mb-0" href="https://github.com/pmacdonald15" target="_blank">Phillip MacDonald</a>
      <a class="mx-2 fs-7 mb-0" href="https://github.com/Spooncodes" target="_blank">Anthony Lively</a>
    </div>
    <!-- copy -->
    <div class="mt-4 mx-2">
      <p class="fs-7">Words are hard. &copy; 2022</p>
    </div>
  </div>
</footer>

</html> 
