<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--fontawesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!--Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!--css-->
  <link rel="stylesheet" href="./assets/stylesheets/style.css">
  <title>Words are hard!</title>
  <!--favicon-->
  <link rel="icon" type="image/x-icon" href="assets/images/favicon.png">
</head>
  
    <main>
      <body class="bg-gray">
  <!-- Login -->
  <div class="container mt-5 pt-5 d-flex flex-column flex-lg-row justify-content-evenly login_body">
    <!-- heading -->
    <div class="text-center text-lg-start mt-0 pt-0 mt-lg-5 pt-lg-5">
      <h1 class="text-warning fw-bold fs-0">Words are hard!</h1>
      <p class="w-75 mx-auto fs-3 mx-lg-0">¿ What do you meme ?</p>
    </div>
    <!-- form card -->
    <div style="max-width: 28rem; width: 100%">
      <!-- login form -->
      <!-- first was form tag -->
      <form class="login-form">
        <div>
          <label for="email-login">email:</label>
          <input type="text" id="email-login" />
        </div>
        <div>
          <label for="password-login">password:</label>
          <input type="password" id="password-login" />
        </div>
        <div>
          <button type="submit">login</button>
        </div>
      </form>
        <!-- create form -->
        <hr />
        <div class="text-center my-4">
          <button class="btn btn-success btn-lg" type="button" data-bs-toggle="modal"
            data-bs-target="#createModal">Create New Account</button>
        </div>
        <!-- create modal -->
        <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <form class="signup-form">
                <div>
                  <label for="username-signup">username:</label>
                  <input type="text" id="username-signup" />
                </div>
                <div>
                  <label for="email-signup">email:</label>
                  <input type="text" id="email-signup" />
                </div>
                <div>
                  <label for="password-signup">password:</label>
                  <input type="password" id="password-signup" />
                </div>
                <div>
                  <span class="text-muted fs-7">Upload Profile Picture <i class="fas fa-question-circle"
                      data-bs-toggle="popover" type="button"
                      data-bs-content="And here's some amazing content. It's very engaging. Right?"></i></span>
                  <input class="form-control form-control-lg" id="formFileLg" type="file" accept="image/*" />
                </div>
                <div>
                  <span class="text-muted fs-7">By clicking Sign Up, you agree to become a memer..</span>
                </div>
                <div>
                  <button type="submit" class="btn btn-success btn-lg" data-bs-dismiss="modal">signup</button>
                </div>
              </form>
              
        <!-- modal end -->
      </div>
      <!-- tag -->
      <div class="my-5 pb-5 text-center ">
        <p class="fw-bold"><a class="text-decoration-none text-dark">Share this Page!</a> <span
            class="fw-normal">laughting with friends is always more fun.</span></p>
      </div>
    </div>
  </div>
      
    </main>
   
      <footer class="bg-white p-4 text-muted" id="index-footer">
  <div class="container">
    <!-- actions -->
    <div class="d-flex flex-wrap">
      <p class="mx-2 fs-7 mb-0" >Developed by:</p>
      <a class="mx-2 fs-7 mb-0" href="https://github.com/gr4ham18" target="_blank">Gabriel Graham</a>
      <a class="mx-2 fs-7 mb-0" href="https://github.com/cboensch6505" target="_blank">Corey Boensch</a>
      <a class="mx-2 fs-7 mb-0" href="https://github.com/erinknapp"  target="_blank">Erin Knapp</a>
      <a class="mx-2 fs-7 mb-0" href="https://github.com/pmacdonald15" target="_blank">Phillip MacDonald</a>
      <a class="mx-2 fs-7 mb-0" href="https://github.com/Spooncodes" target="_blank">Anthony Lively</a>
    </div>
    <!-- copy -->
    <div class="mt-4 mx-2">
      <p class="fs-7">Words are hard. &copy; 2022</p>
    </div>
  </div>

    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="public/assets/javascript/logout.js"></script>

  {{/if}}
    <!--bootstrap-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <!--main.js-->
  <script src="./assets/javascript/Giphy.js"></script>
  <script src="./assets/javascript/script.js"></script>
</body>



</html> 
