
      <form class="login-form">
        <div class="bg-white shadow rounded p-3 ">
          <div>
            <label for="email-login"></label>
            <input type="text" id="email-login" placeholder="Email" class="form-control my-3" />
          </div>
          
          <div>
            <label for="password-login"></label>
            <input type="password" id="password-login" placeholder="Password" class="form-control my-3" />
          </div>


          <div>
            <button type="submit" class="btn btn-primary w-100 my-3" >login</button>
          </div>
<hr />
      <div class="text-center my-4">
        <button class="btn btn-success btn-lg" type="button" data-bs-toggle="modal" data-bs-target="#createModal">Create
          New Account</button>
      </div>
      
      </form>



<script src="/javascript/login.js"></script>